@media only screen and (max-width: 1125px) {
  .posts-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .main-container {
    margin: 0 50px;
  }
}

@media only screen and (max-width: 800px) {
  .posts-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 570px) {
  .posts-container {
    grid-template-columns: 1fr;
  }
}
